<!DOCTYPE html>
<html lang="en">
<%- include("../layout/head.ejs") %>

<body>

    <%- include("../layout/general-navbar.ejs") %>

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <%- include("../layout/general-sidebar") %>

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <h1 style="text-align: center;margin-top: 15px;">Track Record Obat TBC Pasien</h1>
                <div class="row layout-top-spacing">

                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <div class="table-responsive mb-4 mt-4">
                                <table id="zero-config" class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Waktu</th>
                                            <th>Nama Pasien</th>
                                            <th>PMO</th>
                                            <th>No HP</th>
                                            <th>No HP PMO</th>
                                            <th>Dokter</th>
                                            <th class="no-content">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let pasien = 0; pasien <= data.length-1; pasien++) {%>
                                        <tr>
                                            <td><%= data[pasien].time.toISOString() %></td>
                                            <td><%= data[pasien].pasien_name %></td>
                                            <td><%= data[pasien].pmo %></td>
                                            <td><%= data[pasien].no_hp %></td>
                                            <td><%= data[pasien].no_hp_pmo %></td>
                                            <td><%= data[pasien].dokter %></td>
                                            <td><a href="/page/tb-pasien-detail-page/<%= data[pasien]._id %>"><%= data[pasien].status %></a>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>


            <%- include("../layout/footer.ejs")%>
        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="../assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="../bootstrap/js/popper.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/app.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="../assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="../plugins/table/datatable/datatables.js"></script>
    <script>
        $('#zero-config').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <script>
        mapboxgl.accessToken = '<%= apiMap %>';
        var coordinates = document.getElementById('coordinates');
        var mapMarker = new mapboxgl.Map({
            container: 'mapMarker',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [104.179182, -3.139221],
            zoom: 7
        });
        var marker = new mapboxgl.Marker({
            draggable: true
        })
            .setLngLat([104.179182, -3.139221])
            .addTo(mapMarker);
        function onDragEnd() {
            var lngLat = marker.getLngLat();
            coordinates.style.display = 'block';
            coordinates.innerHTML =
                'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
            document.getElementById("latitude").value = lngLat.lat
            document.getElementById("longitude").value = lngLat.lng
        }
        marker.on('dragend', onDragEnd);
    </script>
</body>

</html>